{% extends 'layout.njk' %}

{% block content %}
<h2 class="registration-forms-title">NEW CALCULATION</h2>
  <hr>
  <h4 class="registration-forms-title">CALCULATION LINK TO</h4>
  {# <h5>CYLINDER INITIAL SPECS</h5> #}

  <form class="row g-3">
    <div class="col-md-4">
      <label for="inputQuoteNumber" class="form-label">Quote number</label>
      <select id="inputQuoteNumber" name="inputQuoteNumber" class="form-select js-save">
        <option></option>
        {# {% for c in customerName %}
          <option value="{{c.name}}">{{c.name}}</option>
        {% endfor %} #}
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputHL" class="form-label">H/L number</label>
      <input type="text" class="form-control js-save" id="inputHLnumber" name="inputHLnumber">
    </div>
    <div class="col-md-4">
      <label for="inputJobNumber" class="form-label">Job number</label>
      <input type="text" class="form-control js-save" id="inputJobNumber" name="inputJobNumber">
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" title="Used to link the calculation to a quote, drawing or job number.">Link</button>
    </div>
  </form>
  <hr>

  <h5 class="registration-forms-subtitle">CYLINDER INITIAL SPECS</h5>

  <form class="row g-3">
    <h5 class="registration-forms-subtitle">Pull Pressure</h5>
    <div class="col-md-4">
      <label for="inputPullPressurePsi" class="form-label">Pull pressure - psi</label>
      <input type="number" min="0.0" class="form-control js-psi js-load-table js-save" id="inputPullPressurePsi" name="inputPullPressurePsi" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPullPressureMpa" class="form-label">Pull pressure - MPa</label>
      <input type="number" min="0.0" class="form-control js-mpa js-load-table js-save" id="inputPullPressureMpa" name="inputPullPressureMpa" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPullPressureBar" class="form-label">Pull pressure - bar</label>
      <input type="number" min="0.0" class="form-control js-bar js-load-table js-save" id="inputPullPressureBar" name="inputPullPressureBar" tabindex = "-1">
    </div>
    <h5 class="registration-forms-subtitle">Push Pressure</h5>
    <div class="col-md-4">
      <label for="inputPushPressurePsi" class="form-label">Push pressure - psi</label>
      <input type="number" min="0.0" class="form-control js-psi js-load-table js-save" id="inputPushPressurePsi" name="inputPushPressurePsi" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPushPressureMpa" class="form-label">Push pressure - MPa</label>
      <input type="number" min="0.0" class="form-control js-mpa js-load-table js-save" id="inputPushPressureMpa" name="inputPushPressureMpa" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPushPressureBar" class="form-label">Push pressure - bar</label>
      <input type="number" min="0.0" class="form-control  js-bar js-load-table js-save" id="inputPushPressureBar" name="inputPushPressureBar" tabindex = "-1">
    </div>
    <h5 class="registration-forms-subtitle">Test Pressure</h5>
    <div class="col-md-4">
      <label for="inputTestPressurePsi" class="form-label">Test pressure - psi</label>
      <input type="number" min="0.0" class="form-control js-psi js-load-table js-save" id="inputTestPressurePsi" name="inputTestPressurePsi" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputTestPressureMpa" class="form-label">Test pressure - MPa</label>
      <input type="number" min="0.0" class="form-control js-mpa js-load-table js-save" id="inputTestPressureMpa" name="inputTestPressureMpa" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputTestPressureBar" class="form-label">Test pressure - bar</label>
      <input type="number" min="0.0" class="form-control  js-bar js-load-table js-save" id="inputTestPressureBar" name="inputTestPressureBar" tabindex = "-1">
    </div>
    <h5 class="registration-forms-subtitle">Required Pull Force</h5>
    <div class="col-md-4">
      <label for="inputPullForceLbf" class="form-label">Pull force - lbf</label>
      <input type="number" min="0.0" class="form-control js-lbf js-load-table js-save" id="inputPullForceLbf" name="inputPullForceLbf" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPullForceNewton" class="form-label">Pull force - Newton</label>
      <input type="number" min="0.0" class="form-control js-newton js-load-table js-save" id="inputPullForceNewton" name="inputPullForceNewton" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPullForceTon" class="form-label">Pull force - ton-force</label>
      <input type="number" min="0.0" class="form-control js-ton js-load-table js-save" id="inputPullForceTon" name="inputPullForceTon" tabindex = "-1">
    </div>
    <h5 class="registration-forms-subtitle">Required Push Force</h5>
    <div class="col-md-4">
      <label for="inputPushForceLbf" class="form-label">Push force - lbf</label>
      <input type="number" min="0.0" class="form-control js-lbf js-load-table js-save" id="inputPushForceLbf" name="inputPushForceLbf" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPushForceNewton" class="form-label">Push force - Newton</label>
      <input type="number" min="0.0" class="form-control js-newton js-load-table js-save" id="inputPushForceNewton" name="inputPushForceNewton" tabindex = "-1">
    </div>
    <div class="col-md-4">
      <label for="inputPushForceTon" class="form-label">Push force - ton-force</label>
      <input type="number" min="0.0" class="form-control js-ton js-load-table js-save" id="inputPushForceTon" name="inputPushForceTon" tabindex = "-1">
    </div>
  </form>

  <h5 class="registration-forms-subtitle">Dimension specs</h5>
  <form class="row g-3">
    <div class="col-md-3">
      <label for="inputBoreIn" class="form-label">Bore - inches</label>
      <input type="number" min="0.00" class="form-control js-in-to-mm js-load-table js-save" id="inputBoreIn" name="inputBoreIn">
    </div>
    <div class="col-md-3">
      <label for="inputBoreMM" class="form-label">Bore - millimeters</label>
      <input type="number" min="0.00" class="form-control js-mm-to-in js-load-table js-save" id="inputBoreMM" name="inputBoreMM">
    </div>
    <div class="col-md-3">
      <label for="inputRodIn" class="form-label">Rod - inches</label>
      <input type="number" min="0.00" class="form-control js-in-to-mm js-load-table js-save" id="inputRodIn" name="inputRodIn">
    </div>
    <div class="col-md-3">
      <label for="inputRodMM" class="form-label">Rod - millimeters</label>
      <input type="number" min="0.00" class="form-control js-mm-to-in js-load-table js-save" id="inputRodMM" name="inputRodMM">
    </div>
    <div class="col-md-3">
      <label for="inputNetStrokeIn" class="form-label">Net stroke - inches</label>
      <input type="number" min="0.00" class="form-control js-in-to-mm js-load-table js-save" id="inputNetStrokeIn" name="inputNetStrokeIn">
    </div>
    <div class="col-md-3">
      <label for="inputNetStrokeMM" class="form-label">Net stroke - millimeters</label>
      <input type="number" min="0.00" class="form-control js-mm-to-in js-load-table js-save" id="inputNetStrokeMM" name="inputNetStrokeMM">
    </div>
    <div class="col-md-3">
      <label for="inputClosedCentersIn" class="form-label">Closed centers - inches</label>
      <input type="number" min="0.00" class="form-control js-in-to-mm js-load-table js-save" id="inputClosedCentersIn" name="inputClosedCentersIn">
    </div>
    <div class="col-md-3">
      <label for="inputClosedCentersMM" class="form-label">Closed centers - millimeters</label>
      <input type="number" min="0.00" class="form-control js-mm-to-in js-load-table js-save" id="inputClosedCentersMM" name="inputClosedCentersMM">
    </div>
    <div class="col-md-3">
      <label for="inputCylMounting" class="form-label">Cylinder mounting</label>
      <select id="inputCylMounting" name="inputCylMounting" class="form-select js-extra js-save">
        <option></option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputRodMounting" class="form-label">Rod end mounting</label>
      <select id="inputRodMounting" name="inputRodMounting" class="form-select js-extra js-save">
        <option selected value="rodEndNone">None</option>
        <option value="rodClevis">Rod Clevis</option>
        <option value="rodKnuckle">Rod Knuckle</option>
        <option value="rodKnuckleSB">Rod Knuckle with Spherical Bearing</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputCushion" class="form-label">Cushions</label>
      <select id="inputCushion" name="inputCushion" class="form-select js-extra js-save">
        <option selected value="cushionNone">None</option>
        <option value="cushionBoth">Both</option>
        <option value="cushionFront">Front</option>
        <option value="cushionRear">Rear</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputPin" class="form-label">Pins</label>
      <select id="inputPin" name="inputPin" class="form-select js-extra js-save">
        <option selected value="pinNone">None</option>
        <option value="pinBoth">Both</option>
        <option value="pinFront">Front</option>
        <option value="pinRear">Rear</option>
      </select>
    </div>
  </form>
  <h5 class="registration-forms-subtitle">FORCES AND OPEN CENTERS/LENGTH</h5> {#class="registration-forms-subtitle"#}
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center" colspan="3" rowspan="2" valign="middle">PRESSURES</th>
        <th scope="col" class="text-center" colspan="9">FORCES</th>
      </tr>
      <tr>
        <th scope="col" class="text-center" colspan="3">lbf</th>
        <th scope="col" class="text-center" colspan="3">Newton</th>
        <th scope="col" class="text-center" colspan="3">ton</th>
      </tr>
    </thead>
    <tbody id="js-tbl-forces">
    </tbody>
  </table>
  
  <hr>
  <h4 class="registration-forms-title">Suitable Hydroil's standard cylinders to achieve the forces required</h4>
  <div id="js-show-div">
  </div>
  <button type="button" class="btn btn-secondary" title="Used to generate a table with suitable cylinder specs." id="js-show-suitable-cylinders">Show</button>
  <hr>

  <div class="container" style="margin-top: 3.5%;">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/quoteone" tabindex="-1" id="js-first-previous">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" id="js-btn-first-next" style="cursor: pointer;">Next</a>
        </li>
      </ul>
    </nav>
  </div>

<script src="/javascripts/calculationinitial.js"></script>
{% endblock %}}


