{% extends 'layout.njk' %}

{% block content %}
<h2 class="registration-forms-title">NEW CALCULATION - WELDINGS</h2>
  <hr>
  <h4 class="registration-forms-title">Welding wire mechanical properties</h4>
    <form class="row g-3">
      <div class="col-md-2">
        <label for="inputHydroilId" class="form-label">Hydroil's id</label>
        <input type="text" class="form-control js-save" id="inputHydroilId" name="inputHydroilId">
      </div>
      <div class="col-md-3">
        <label for="inputItem" class="form-label">Item</label>
        <input type="text" class="form-control input-off js-save" id="inputItem" name="inputItem" tabindex="-1">
      </div>
      <div class="col-md-4">
        <label for="inputDescription" class="form-label">Description</label>
        <input type="text" class="form-control input-off js-save" id="inputDescription" name="inputDescription" tabindex="-1">
      </div>
      <div class="col-md-3">
        <label for="inputAltDescription" class="form-label">Alternative Description</label>
        <textarea type="text" class="form-control input-off js-save" id="inputAltDescription" name="inputAltDescription" tabindex="-1"></textarea>
      </div>
      <div class="row" style="margin-top: 2em;">
        <div class="col-md-3">
          <label for="inputMinYieldMPa" class="form-label">Minimum Yield - MPa</label>
          <input type="number" min="0.00" step="0.01" class="form-control js-mpa js-save" id="inputMinYieldMPa" name="inputMinYieldMPa">
        </div>
        <div class="col-md-3">
          <label for="inputMinYieldPSI" class="form-label">Minimum Yield - PSI</label>
          <input type="number" min="0.00" step="0.01" class="form-control js-psi js-save" id="inputMinYieldPSI" name="inputMinYieldPSI">
        </div>
        <div class="col-md-3">
          <label for="inputMinUtsMPa" class="form-label">Minimum UTS - MPa</label>
          <input type="number" min="0.00" step="0.01" class="form-control js-mpa js-save" id="inputMinUtsMPa" name="inputMinUtsMPa">
        </div>
        <div class="col-md-3">
          <label for="inputMinUTSPSI" class="form-label">Minimum UTS - PSI</label>
          <input type="number" min="0.00" step="0.01" class="form-control js-psi js-save" id="inputMinUTSPSI" name="inputMinUTSPSI">
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-secondary" id="js-search-mech-properties">Search</button>
      </div>
    </form>
  <hr>

  <h4 class="registration-forms-title">Weldings</h4>
    <form class="row g-3" id="js-form-weld-sf">
      <div class="row">
        <div class="col-md-4">
          <label for="inputWeldingJoint" class="form-label">Joint</label>
          <input type="text" class="form-control js-joint js-save-welding js-save">
        </div>
        <div class="col-md-2">
          <label for="inputThroatIN" class="form-label">Throat - in</label>
          <input type="text" class="form-control js-in-to-mm js-throat-in js-save-welding js-save" tabindex="-1">
        </div>
        <div class="col-md-2">
          <label for="inputThroatMM" class="form-label">Throat - mm</label>
          <input type="text" class="form-control js-mm-to-in js-throat-mm js-save-welding js-save" tabindex="-1">
        </div>
        <div class="col-md-2">
          <label for="inputLengthIN" class="form-label">Length - in</label>
          <input type="text" class="form-control js-in-to-mm js-length-in js-save-welding js-save" tabindex="-1">
        </div>
        <div class="col-md-2">
          <label for="inputLengthMM" class="form-label">Length - mm</label>
          <input type="text" class="form-control js-mm-to-in js-length-mm js-save-welding js-save" tabindex="-1">
        </div>
      </div>
      <div class="row" id="js-div-new-line">
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-secondary" id="js-add-new-line">Add new line</button>
      </div>
    </form>
  <hr>

<h4 class="registration-forms-title">How to find throat sizes</h4>
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Throat - Definition
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionBuckling">
        <div class="accordion-body">
          <p>The throat size is found by measuring the depth of the weld, from face to root subtracting the "reinforcements". It can also be found using trigonometrical formulas.</p>
          <p>According to Norton (2010, p. 937), “… the AWS D1.1 code specifies that the effective throat area, defined by the shortest distance from root to weld face, be used for any direction of applied load.”</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Throat - Types
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionBuckling">
        <div class="accordion-body">
          <img src="/images/throat-types.png" alt="Throat types" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Throat size calculator - for 45&deg fillet weld
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionBuckling">
        <div class="accordion-body">
          <form class="row g-3">
            <div class="col-md-2"> 
              <label for="inputWeldLegIN" class="form-label">Leg size - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm js-save" id="js-leg-in" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldLegMM" class="form-label">Leg size - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in js-save" id="js-leg-mm" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldThroatIN" class="form-label">Throat size - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm input-off js-save" id="js-throat-in-calc" tabindex="-1" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldThroatMM" class="form-label">Throat size - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in input-off js-save" id="js-throat-mm-calc" tabindex="-1" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Throat size calculator - for circular groove welds
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionBuckling">
        <div class="accordion-body">
          <form class="row g-3">
            <div class="col-md-2"> 
              <label for="inputWeldIDIN" class="form-label">Weld ID - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm js-save" id="js-weld-id-in" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldIDMM" class="form-label">Weld ID - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in js-save" id="js-weld-id-mm" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldODIN" class="form-label">Weld OD - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm js-save" id="js-weld-od-in" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldODMM" class="form-label">Weld OD - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in js-save" id="js-weld-od-mm" style="text-align: center;">
            </div>
            <div class="col-md-2">
              <label for="inputWeldThroatIN" class="form-label">Throat size - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm input-off js-save" id="js-throat-in-calc-diam" tabindex="-1" style="text-align: center;">
            </div>
            <div class="col-md-2">
              <label for="inputWeldThroatMM" class="form-label">Throat size - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in input-off js-save" id="js-throat-mm-calc-diam" tabindex="-1" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4 class="registration-forms-title">How to find length sizes</h4>
  <div class="accordion" id="accordionLength">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Length - Definition
        </button>
      </h2>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionLength">
        <div class="accordion-body">
          <p>The length of a weld refers to the extent of the weld along the joint being joined.</p>
          <p>For Hydroil's calculations, the shortest weld length is of interest as it creates the smallest weld area and allows a more conservative approach to calculate the factor of safety.</p>
          <p>When working on a groove weld, for example, the weld's face provides the longest weld length while the weld's root provides the shortest length. As such, the length created by the root is the one used.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Length - most commom situations for Hydroil's cylinders
        </button>
      </h2>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionLength">
        <div class="accordion-body">
          <img src="/images/weld-length-1.png" alt="Length types 1" class="img-fluid">
          <img src="/images/weld-length-2.png" alt="Length types 2" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Length size calculator - for circular weld
        </button>
      </h2>
      <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionLength">
        <div class="accordion-body">
          <form class="row g-3">
            <div class="col-md-2"> 
              <label for="inputWeldDiameterIN" class="form-label">Diameter - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm js-save" id="js-diameter-in" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldDiameterMM" class="form-label">Diameter - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in js-save" id="js-diameter-mm" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputNumberWelds" class="form-label">Number of welds</label>
              <input type="number" min="0.0" step="1.0" class="form-control js-save" id="js-number-welds" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldThroatIN" class="form-label">Length - inches</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-in-to-mm input-off js-save" id="js-length-in-calc" tabindex="-1" style="text-align: center;">
            </div>
            <div class="col-md-2"> 
              <label for="inputWeldThroatMM" class="form-label">Length - mm</label>
              <input type="number" min="0.00" step="0.01" class="form-control js-mm-to-in input-off js-save" id="js-length-mm-calc" tabindex="-1" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4 class="registration-forms-title">Safety Factors</h4>
    <div id="js-weld-sf-result">
    </div>
    <button type="button" class="btn btn-secondary" title="Used to calculate weldings safety factor." id="js-calc-sf-weld">Calculate</button>
  <hr>
  <div class="accordion" id="accordionEight">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Welding safety factor formulas
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionEight">
        <div class="accordion-body">
          <img src="/images/welding-sfs.png" alt="Safety factor formulas for welding" class="img-fluid mx-auto d-block">
          <img src="/images/welding-min-size.png" alt="Safety factor formulas for welding" class="img-fluid mx-auto d-block">
        </div>
      </div>
    </div>
        
  </div>

  <div class="container" style="margin-top: 3.5%;">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" tabindex="-1" id="js-fourth-previous" style="cursor: pointer;">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" id="js-btn-fourth-next" style="cursor: pointer;">Next</a>
        </li>
      </ul>
    </nav>
  </div>

<script src="/javascripts/calculationwelding.js"></script>
{% endblock %}}


