{% extends 'layout.njk' %}

{% block content %}
<h2 class="registration-forms-title">NEW CALCULATION - ROD BUCKLING</h2>
  <hr>
  <h4 class="registration-forms-title">Buckling situations (end-conditions)</h4>
  {# <h5>CYLINDER INITIAL SPECS</h5> #}

  <form class="row g-3">
    <div class="col-md-6"> {#style="margin-bottom: 2em;"#}
      <label for="inputEndCondition" class="form-label">Choose the appropriated end-condition</label>
      <select id="inputEndCondition" name="inputEndCondition" class="form-select">
        <option value="endCondition1">The two ends can pivot and the load is guided - FIRST</option>
        <option value="endCondition2">One end is fixed, the other is free and load is not guided - SECOND</option>
        <option value="endCondition3">One end can pivot, the other is fixed and load is guided - THIRD</option>
        <option value="endCondition4">The two end are fixed and load is guided - FOURTH</option>
      </select>
    </div>

    {# <div class="col-12">
      <button type="button" class="btn btn-primary" title="Used to link the calculation to a quote, drawing or job number.">Link</button>
    </div> #}
  </form>
  
  <h5 class="registration-forms-subtitle">Support images</h5>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          The two ends can pivot and the load is guided - &nbsp<span style="font-weight: bold;">FIRST</span>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {# <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. #}
          <img src="/images/end-condition-one.png" alt="End condition one">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          One end is fixed, the other is free and load is not guided - &nbsp<span style="font-weight: bold;">SECOND</span>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {# <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. #}
          <img src="/images/end-condition-two.png" alt="End condition two">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          One end can pivot, the other is fixed and load is guided - &nbsp<span style="font-weight: bold;">THIRD</span>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {# <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. #}
          <img src="/images/end-condition-three.png" alt="End condition three">
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          The two end are fixed and load is guided - &nbsp<span style="font-weight: bold;">FOURTH</span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {# <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. #}
          <img src="/images/end-condition-four.png" alt="End condition four">
        </div>
      </div>
    </div>
  </div>
  <hr>

  <h4 class="registration-forms-title">Young's modulus (modulus of elasticity)</h4>
    <form class="row g-3">
      <div class="col-md-2"> {#style="margin-bottom: 2em;"#}
        <label for="inputYoungsModulus" class="form-label">Young's modulus in GPa</label>
        <input type="number" min="0.00" step="0.01" class="form-control" id="inputYoungsModulus" name="inputYoungsModulus">
      </div>

      {# <div class="col-12">
        <button type="button" class="btn btn-primary" title="Used to link the calculation to a quote, drawing or job number.">Link</button>
      </div> #}
    </form>
  <hr>

  <h4 class="registration-forms-title">Round or hollow rod</h4>
    <form class="row g-3">
      <div>
        <label for="inputRadioButtons" class="form-label"style="margin-right: 1em;">Is the rod hollow?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input js-radio-round-hollow" type="radio" name="roundHollowRadio" id="js-round-hollow-yes" value="yes">
          <label class="form-check-label" for="js-round-hollow-yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input js-radio-round-hollow" type="radio" name="roundHollowRadio" id="js-round-hollow-no" value="no" checked>
          <label class="form-check-label" for="js-round-hollow-no">No</label>
        </div>        
      </div>
      
      <div class="col-md-2" id="js-buckling-rod-id">
        {# <label for="inputYoungsModulus" class="form-label">Young's modulus in GPa</label>
        <input type="number" min="0.00" step="0.01" class="form-control" id="inputYoungsModulus" name="inputYoungsModulus"> #}
      </div>

      {# <div class="col-12">
        <button type="button" class="btn btn-primary" title="Used to link the calculation to a quote, drawing or job number.">Link</button>
      </div> #}
    </form>
  <hr>

  <h4 class="registration-forms-title">Safety factor</h4>
    <div id="js-buckling-sf-result">
    </div>
    <button type="button" class="btn btn-secondary" title="Used to calculate rod buckling safety factor." id="js-calc-sf-buckling">Calculate</button>
  <hr>

  <div class="container" style="margin-top: 3.5%;">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="/calculationinitial" tabindex="-1" id="js-first-previous">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" id="js-btn-second-next">Next</a>
        </li>
      </ul>
    </nav>
  </div>

<script src="/javascripts/calculationbuckling.js"></script>
{% endblock %}}


