doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    style
        include ../public/stylesheets/style.css

body 
    header 
        nav
            ul 
                li 
                    a(href="") Home 
                li Calculations
                    ul
                        li
                            a(href="") New
                        li 
                            a(href="") Procedure
                
                li Database
                    ul
                        li
                            a(href="") Calculations
                        li 
                            a(href="") Contacts
                        li Costs
                            ul
                                li 
                                    a(href="") Labour
                                li 
                                    a(href="") Material
                                li 
                                    a(href="") Services
                        li 
                            a(href="") Customers
                        li 
                            a(href="") Mechanical Properties
                li Quotes
                    ul
                        li
                            a(href="") New
                        li
                            a(href="") Open              
                li Update
                    ul
                        li 
                            a(href="") Contacts
                        li Costs
                            ul                               
                                li 
                                    a(href="") Labour
                                li 
                                    a(href="") Material
                                li 
                                    a(href="") Services
                        li 
                            a(href="") Customers
                        li
                            a(href="") Users
                li Register
                    ul
                        li 
                            a(href="") Contacts
                        li Costs
                            ul                               
                                li 
                                    a(href="") Labour
                                li 
                                    a(href="") Material
                                li 
                                    a(href="") Services
                        li 
                            a(href="") Customers
                        li
                            a(href="") Users
                
                li Logout
                li 
                    a(href="") Calculations 

    main

    footer
    








//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <title>Home</title>
//-     <style>
//-         li {
//-             display: inline;
//-         }
//-     </style>
//- </head>
//- <body>
//-     <header>
//-         <nav>
//-             <ul>
//-                 <li><a href="../../index.html">Home</a></li> <!--This page is the landing page and will be used to explain abouth the web app and what it is about... -->
//-                 <li><a href="">Calculations</a></li> <!--Mainly to create new calculations and show the calculation procedure. But also to show previous calculations, technical sources, material certificates...-->
//-                 <li><a href="">Database</a></li> <!--Page to access and manage the database. Here I intend to give access to previous jobs information (jobcards, drawings, calculations), Bill of Materials, material certificates...-->
//-                 <li><a href="pages/quotations/customerdetails.html">Quotations</a></li> <!--Used to create and search previous quotations. I intend to provide a quick comparison to previous prices provided for similar cylinders-->
//-                 <li><a href="">Register</a></li> <!--Used to CRUD users of this web app-->
//-                 <li><a href="">Logout</a></li>
//-             </ul>
//-         </nav>
//-     </header>
//-     <main>
//-         <h1>Home page</h1>

//-     </main>
//-     <footer>

//-     </footer>
//- </body>
//- </html>