<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  
</head>
{% endblock %}
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="/images/hydroil-hydraulic-pneumatic-cylinders-adelaide-sh.png" width="64" height="34">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {# <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Calculations
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">New</a></li>
              {# <li><hr class="dropdown-divider"></li> #}
              <li><a class="dropdown-item" href="#">Procedures</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Database
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Calculations</a></li>
              <li><a class="dropdown-item" href="#">Contacts</a></li>
              {# <li><hr class="dropdown-divider"></li> #}
              <li>
                <span class="dropdown-item" href="#">Costs &raquo;</span>
                <ul class="dropdown-menu dropdown-submenu">
                  <li><a class="dropdown-item" href="#">Labour</a></li>
                  <li><a class="dropdown-item" href="#">Material</a></li>
                  <li><a class="dropdown-item" href="#">Services</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Customers</a></li>
              <li><a class="dropdown-item" href="#">Mechanical Properties</a></li>
              <li><a class="dropdown-item" href="#">Suppliers</a></li>
              <li><a class="dropdown-item" href="#">Users</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quotes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="quoteone">New</a></li>
              {# <li><hr class="dropdown-divider"></li> #}
              <li><a class="dropdown-item" href="#">Waiting response</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Update
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Contacts</a></li>
              <li>
                <span class="dropdown-item" href="#">Costs &raquo;</span>
                <ul class="dropdown-menu dropdown-submenu">
                  <li><a class="dropdown-item" href="#">Labour</a></li>
                  <li><a class="dropdown-item" href="#">Material</a></li>
                  <li><a class="dropdown-item" href="#">Services</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Customers</a></li>
              <li><a class="dropdown-item" href="#">Mechanical Properties</a></li>
              <li><a class="dropdown-item" href="#">Suppliers</a></li>
              <li><a class="dropdown-item" href="#">Users</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/regcontacts">Contacts</a></li>
              <li>
                <span class="dropdown-item" href="#">Costs &raquo;</span>
                <ul class="dropdown-menu dropdown-submenu">
                  <li><a class="dropdown-item" href="#">Labour</a></li>
                  <li><a class="dropdown-item" href="#">Material</a></li>
                  <li><a class="dropdown-item" href="#">Services</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="regcustomer">Customers</a></li>
              <li><a class="dropdown-item" href="#">Mechanical Properties</a></li>
              <li><a class="dropdown-item" href="#">Suppliers</a></li>
              <li><a class="dropdown-item" href="#">Users</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sign out</a>
          </li>
          {# <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> #}
        </ul>
        {# <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> #}
      </div>
    </div>
    </nav>
  </div>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
<script src="/js/bootstrap.bundle.js"></script>
<script src="javascripts/cylinderspecs.js"></script>
</body>
</html>