{% extends 'layout.njk' %}

{% block content %}
  <h2 class="registration-forms-title">NEW QUOTE FORM</h2>
  <hr>
  <h4 class="registration-forms-title">CUSTOMER INFORMATION</h4>

  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputCustomer" class="form-label">Customer</label>
      <select id="inputCustomer" name="inputCustomer" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputContact" class="form-label">Contact</label>
      <select id="inputContact" name="inputContact" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" name="inputEmail">
    </div>
    <div class="col-md-4">
      <label for="inputPhone" class="form-label">Phone</label>
      <input type="tel" class="form-control" id="inputPhone" name="inputPhone">
    </div>
    <div class="col-md-4">
      <label for="inputMobile" class="form-label">Mobile</label>
      <input type="tel" class="form-control" id="inputMobile" name="inputMobile">
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-danger" id="js-btn-update-contact">Update</button>
    </div>
  </form>
  <hr>
  <h4 class="registration-forms-title">JOB SPECIFICATIONS</h4>
  <form class="row g-3">
    <div>
      <label for="inputRadioButtons" class="form-label"style="margin-right: 1em;">Quote for:</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input js-radio-quote-for" type="radio" name="quoteForRadio" id="js-radio-new-cyl" value="option1" checked>
        <label class="form-check-label" for="js-radio-new-cyl">New cylinder</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input js-radio-quote-for" type="radio" name="quoteForRadio" id="js-radio-repair" value="option2">
        <label class="form-check-label" for="js-radio-repair">Repair</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input js-radio-quote-for" type="radio" name="quoteForRadio" id="js-radio-repeat-cyl" value="option3">
        <label class="form-check-label" for="js-radio-repeat-cyl">Repeat cylinder</label>
      </div>
    </div>
  </form>

  <div id="js-page-content-first">
    
    <form class="row g-3">
      <h4 class="registration-forms-subtitle">CYLINDER SPECS</h4>
      
      <div class="col-md-3">
        <label for="inputBodyType" class="form-label">Body type</label>
        <select id="inputBodyType" name="inputBodyType" class="form-select">
          <option selected value="HSH">HSH</option>
          <option value="HB">HB</option>
          <option value="HHMI">HHMI</option>
          <option value="HSMI">HSMI</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputInnerType" class="form-label">Inner type</label>
        <select id="inputInnerType" name="inputInnerType" class="form-select">
          <option selected value="standard">Standard</option>
          <option value="doubleEnded">Double-ended</option>
          <option value="telescopic">Telescopic</option>
          <option value="spring">Spring</option>
          <option valeu="displacement">Displacement</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputForceGenerator" class="form-label">Force generator</label>
        <select id="inputForceGenerator" name="inputForceGenerator" class="form-select">
          <option selected value="hydraulic">Hydraulic</option>
          <option value="pneumatic">Pneumatic</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputActingType" class="form-label">Acting type</label>
        <select id="inputActingType" name="inputActingType" class="form-select">
          <option selected value="doubleActing">Double acting</option>
          <option value="singleActing">Single acting</option>
        </select>
      </div>
      
      <h5 class="registration-forms-subtitle">Pull Pressure</h5>
      <div class="col-md-4">
        <label for="inputPullPressurePsi" class="form-label">Pull pressure - psi</label>
        <input type="number" min="0.0" class="form-control js-psi" id="inputPullPressurePsi" name="inputPullPressurePsi">
      </div>
      <div class="col-md-4">
        <label for="inputPullPressureMpa" class="form-label">Pull pressure - MPa</label>
        <input type="number" min="0.0" class="form-control js-mpa" id="inputPullPressureMpa" name="inputPullPressureMpa">
      </div>
      <div class="col-md-4">
        <label for="inputPullPressureBar" class="form-label">Pull pressure - bar</label>
        <input type="number" min="0.0" class="form-control js-bar" id="inputPullPressureBar" name="inputPullPressureBar">
      </div>
      <h5 class="registration-forms-subtitle">Push Pressure</h5>
      <div class="col-md-4">
        <label for="inputPushPressurePsi" class="form-label">Push pressure - psi</label>
        <input type="number" min="0.0" class="form-control js-psi" id="inputPushPressurePsi" name="inputPushPressurePsi">
      </div>
      <div class="col-md-4">
        <label for="inputPushPressureMpa" class="form-label">Push pressure - MPa</label>
        <input type="number" min="0.0" class="form-control js-mpa" id="inputPushPressureMpa" name="inputPushPressureMpa">
      </div>
      <div class="col-md-4">
        <label for="inputPushPressureBar" class="form-label">Push pressure - bar</label>
        <input type="number" min="0.0" class="form-control  js-bar" id="inputPushPressureBar" name="inputPushPressureBar">
      </div>
      <h5 class="registration-forms-subtitle">Pull Force - Required</h5>
      <div class="col-md-4">
        <label for="inputPullForceLbf" class="form-label">Pull force - lbf</label>
        <input type="number" min="0.0" class="form-control js-lbf" id="inputPullForceLbf" name="inputPullForceLbf">
      </div>
      <div class="col-md-4">
        <label for="inputPullForceNewton" class="form-label">Pull force - Newton</label>
        <input type="number" min="0.0" class="form-control js-newton" id="inputPullForceNewton" name="inputPullForceNewton">
      </div>
      <div class="col-md-4">
        <label for="inputPullForceTon" class="form-label">Pull force - ton-force</label>
        <input type="number" min="0.0" class="form-control js-ton" id="inputPullForceTon" name="inputPullForceTon">
      </div>
      <h5 class="registration-forms-subtitle">Push Force - Required</h5>
      <div class="col-md-4">
        <label for="inputPushForceLbf" class="form-label">Push force - lbf</label>
        <input type="number" min="0.0" class="form-control js-lbf" id="inputPushForceLbf" name="inputPushForceLbf">
      </div>
      <div class="col-md-4">
        <label for="inputPushForceNewton" class="form-label">Push force - Newton</label>
        <input type="number" min="0.0" class="form-control js-newton" id="inputPushForceNewton" name="inputPushForceNewton">
      </div>
      <div class="col-md-4">
        <label for="inputPushForceTon" class="form-label">Push force - ton-force</label>
        <input type="number" min="0.0" class="form-control js-ton" id="inputPushForceTon" name="inputPushForceTon">
      </div>
    </form>
  
  
    <div id="js-page-content-second">
      
      <form class="row g-3">
        <h4 class="registration-forms-subtitle">Seoncond autogenerated part</h4>
        
        <div class="col-md-3">
          <label for="inputBodyType" class="form-label">Body type</label>
          <select id="inputBodyType" name="inputBodyType" class="form-select">
            <option selected value="HSH">HSH</option>
            <option value="HB">HB</option>
            <option value="HHMI">HHMI</option>
            <option value="HSMI">HSMI</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputInnerType" class="form-label">Inner type</label>
          <select id="inputInnerType" name="inputInnerType" class="form-select">
            <option selected value="standard">Standard</option>
            <option value="doubleEnded">Double-ended</option>
            <option value="telescopic">Telescopic</option>
            <option value="spring">Spring</option>
            <option valeu="displacement">Displacement</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputForceGenerator" class="form-label">Force generator</label>
          <select id="inputForceGenerator" name="inputForceGenerator" class="form-select">
            <option selected value="hydraulic">Hydraulic</option>
            <option value="pneumatic">Pneumatic</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputActingType" class="form-label">Acting type</label>
          <select id="inputActingType" name="inputActingType" class="form-select">
            <option selected value="doubleActing">Double acting</option>
            <option value="singleActing">Single acting</option>
          </select>
        </div>
      </form>

    </div>

  </div>
       
  {# </form> #}

<script src="/javascripts/quotes.js"></script>
{% endblock %}}


