{% extends 'layout.njk' %}

{% block content %}
<h2 class="registration-forms-title">NEW QUOTE FORM</h2>
  <hr>
  <h4 class="registration-forms-title">BARREL ASSEMBLY</h4>
  <h5>MATERIAL</h5>

  <form class="row g-3">
    <div class="col-md-2">
      <label for="inputPart" class="form-label">Part</label>
    </div>
    <div class="col-md-2">
      <label for="inputHydroilId" class="form-label">Hydroil ID</label>
    </div>
    <div class="col-md-2">
      <label for="inputItem" class="form-label">Item</label>
    </div>
    <div class="col-md-2">
      <label for="inputSupplier" class="form-label">Supplier</label>
    </div>
    <div class="col-md-1"> <!--Here the cost per unit should be specified-->
      <label for="inputCost" class="form-label">Cost</label>
    </div>
    <div class="col-md-1"> 
      <label for="inputUsage" class="form-label">Usage</label>
    </div>
    <div class="col-md-2"> 
      <label for="inputSubTotal" class="form-label">Subtotal</label>
    </div>
    
    {#------------------------------------#}
    {% for l in range(5) %}
      <div class="col-md-2">
        <input type="text" class="form-control js-part" id="inputPart{{l}}" name="inputPart{{l}}">
      </div>
      <div class="col-md-2">
        <select id="inputHydroilId{{l}}" name="inputHydroilId{{l}}" class="form-select">
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" id="inputItem{{l}}" name="inputItem{{l}}">
      </div>
      <div class="col-md-2">
        <select id="inputSupplier{{l}}" name="inputSupplier{{l}}" class="form-select">
          <option>...</option>
        </select>
      </div>
      <div class="col-md-1"> <!--Here the cost per unit should be specified-->
        <input type="text" class="form-control" id="inputCost{{l}}" name="inputCost{{l}}">
      </div>
      <div class="col-md-1"> 
        <input type="number" min="0.00" class="form-control" id="inputUsage{{l}}" name="inputUsage{{l}}">
      </div>
      <div class="col-md-2"> 
        <input type="number" min="0.00" class="form-control" id="inputSubTotal{{l}}" name="inputSubTotal{{l}}">
      </div>
    {% endfor %}
  </form>
  <form class="row g-3" id="js-first-form-add-lines" style="margin-top: 0.5em;">
  </form>

  <div class="col-md-12" style="margin-top: 1em;">
    <button type="button" class="btn btn-primary" id="js-new-line-brl-matl">Add new line</button>
  </div>

  <h5 class="registration-forms-subtitle">LABOUR</h5>

  <form class="row g-3">
    <div class="col-md-2">
      <label for="inputPart" class="form-label">Part</label>
    </div>
    <div class="col-md-1">
      <label for="inputMC" class="form-label">Machining</label>
    </div>
    <div class="col-md-1">
      <label for="inputNC" class="form-label">NC/CTR</label>
    </div>
    <div class="col-md-1">
      <label for="inputWelding" class="form-label">Welding</label>
    </div>
    <div class="col-md-1">
      <label for="inputHonning" class="form-label">Honning</label>
    </div>
    <div class="col-md-1"> 
      <label for="inputAssy" class="form-label">Assembling</label>
    </div>
    <div class="col-md-2"> 
      <label for="inputSubTotal" class="form-label">Subtotal</label>
    </div>
    <div class="col-md-2"> 
      <input type="hidden">
    </div>
    
    {#------------------------------------#}
    {% for l in range(5) %}
      <div class="col-md-2">
        <input type="text" class="form-control js-lab-part" id="inputLabourPart{{l}}" name="inputLabourPart{{l}}">
      </div>
      <div class="col-md-1">
        <input type="number" min="0.00" class="form-control" id="inputMC{{l}}" name="inputMC{{l}}">
      </div>
      <div class="col-md-1">
        <input type="number" min="0.00" class="form-control" id="inputNC{{l}}" name="inputNC{{l}}">
      </div>
      <div class="col-md-1">
        <input type="number" min="0.00" class="form-control" id="inputWelding{{l}}" name="inputWelding{{l}}">
      </div>
      <div class="col-md-1">
        <input type="number" min="0.00" class="form-control" id="inputHonning{{l}}" name="inputHonning{{l}}">
      </div>
      <div class="col-md-1">
        <input type="number" min="0.00" class="form-control" id="inputAssy{{l}}" name="inputAssy{{l}}">
      </div>
      <div class="col-md-2"> 
        <input type="number" min="0.00" class="form-control" id="inputLabourSubTotal{{l}}" name="inputLabourSubTotal{{l}}">
      </div>
      <div class="col-md-2"> 
        <input type="hidden">
      </div>
    {% endfor %}
  </form>
  <form class="row g-3" id="js-second-form-add-lines" style="margin-top: 0.5em;">
  </form>

  <div class="col-md-12" style="margin-top: 1em;">
    <button type="button" class="btn btn-primary" id="js-new-line-brl-labour">Add new line</button>
  </div>

  <h5 class="registration-forms-subtitle">SERVICES</h5>

  <form class="row g-3">
    <div class="col-md-2">
      <label for="inputPart" class="form-label">Part</label>
    </div>
    <div class="col-md-2">
      <label for="inputServiceCode" class="form-label">Service Code</label>
    </div>
    <div class="col-md-2">
      <label for="inputService" class="form-label">Service</label>
    </div>
    <div class="col-md-2">
      <label for="inputSupplier" class="form-label">Supplier</label>
    </div>
    <div class="col-md-1"> <!--Here the cost per unit should be specified-->
      <label for="inputCost" class="form-label">Cost</label>
    </div>
    <div class="col-md-1"> 
      <label for="inputUsage" class="form-label">Usage</label>
    </div>
    <div class="col-md-2"> 
      <label for="inputSubTotal" class="form-label">Subtotal</label>
    </div>
    
    {#------------------------------------#}
    {% for l in range(5) %}
      <div class="col-md-2">
        <input type="text" class="form-control js-serv-part" id="inputServicePart{{l}}" name="inputServicePart{{l}}">
      </div>
      <div class="col-md-2">
        <select id="inputServiceCode{{l}}" name="inputServiceCode{{l}}" class="form-select">
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" id="inputService{{l}}" name="inputService{{l}}">
      </div>
      <div class="col-md-2">
        <select id="inputServiceSupplier{{l}}" name="inputServiceSupplier{{l}}" class="form-select">
          <option>...</option>
        </select>
      </div>
      <div class="col-md-1"> <!--Here the cost per unit should be specified-->
        <input type="text" class="form-control" id="inputServiceCost{{l}}" name="inputServiceCost{{l}}">
      </div>
      <div class="col-md-1"> 
        <input type="number" min="0.00" class="form-control" id="inputServiceUsage{{l}}" name="inputServiceUsage{{l}}">
      </div>
      <div class="col-md-2"> 
        <input type="number" min="0.00" class="form-control" id="inputServiceSubTotal{{l}}" name="inputServiceSubTotal{{l}}">
      </div>
    {% endfor %}
  </form>
  <form class="row g-3" id="js-third-form-add-lines" style="margin-top: 0.5em;">
  </form>

  <div class="col-md-12" style="margin-top: 1em;">
    <button type="button" class="btn btn-primary" id="js-new-line-brl-serv">Add new line</button>
  </div>

  <div class="container">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {# <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li> #}
        <li class="page-item">
          <a class="page-link" href="/quoteone" tabindex="-1" id="js-first-previous">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>

<script src="/javascripts/quotebrlassy.js"></script>
{% endblock %}}


