{% extends 'layout.njk' %}

{% block content %}
  <h2 class="registration-forms-title">LABOUR COST REGISTRATION FORM</h2>
  <form class="row g-3" action="/reglabour" method="post">
    <div class="col-md-2">
      <label for="inputDate" class="form-label">Date</label>
      <input type="date" class="form-control" id="inputDate" name="inputDate" required>
    </div>
    <div class="col-md-2">
      <label for="inputMc" class="form-label">MC</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputMc" name="inputMc" required>
    </div>
    <div class="col-md-2">
      <label for="inputNcCtr" class="form-label">NC/CTR</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputNcCtr" name="inputNcCtr" required>
    </div>
    <div class="col-md-2">
      <label for="inputW" class="form-label">W</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputW" name="inputW" required>
    </div>
    <div class="col-md-2">
      <label for="inputH" class="form-label">H</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputH" name="inputH" required>
    </div>
    <div class="col-md-2">
      <label for="inputAssy" class="form-label">Assy</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputAssy" name="inputAssy" required>
    </div>
    <div class="col-md-12">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" name="inputDescription">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
{% endblock %}}


