{% extends 'layout.njk' %}

{% block content %}
  <h2 class="registration-forms-title">MATERIAL REGISTRATION FORM</h2>
  <h4 class="registration-forms-title">MATERIAL SPECS</h4>
  <form class="row g-3" action="/regmaterial" method="post">
    <div class="col-md-2">
      <label for="inputDate" class="form-label">Date</label>
      <input type="date" class="form-control" id="inputDate" name="inputDate" required>
    </div>
    <div class="col-md-2">
      <label for="inputHydroilId" class="form-label">Hydroil's id number</label>
      <input type="text" class="form-control" id="inputHydroilId" name="inputHydroilId" required>
    </div>
    <div class="col-md-2">
      <label for="inputItem" class="form-label">Item</label>
      <input type="text" class="form-control" id="inputItem" name="inputItem" required>
    </div>
    <div class="col-md-3">
      <label for="inputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="inputDescription" name="inputDescription" required>
    </div>
    <div class="col-md-3">
      <label for="inputAltDescription" class="form-label">Alternative Description</label>
      <input type="text" class="form-control" id="inputAltDescription" name="inputAltDescription">
    </div>
    <div class="col-md-2">
      <label for="inputSupplier" class="form-label">Supplier</label>
      <select id="inputSupplier" class="form-select">
        <option selected>Choose...</option>
        {# <option>...</option> #}
        {% for l in lines %}
          <option value="{{l.value}}">{{l.label}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputCost" class="form-label">Cost</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputCost" name="inputCost" required>
    </div>
    <div class="col-md-2">
      <label for="inputMeasurement" class="form-label">Measurement Unit</label>
      <input type="text" class="form-control" id="inputMeasurement" name="inputMeasurement" required>
    </div>
    <div class="col-md-6">
      <label for="inputDetails" class="form-label">Details</label>
      <input type="text" class="form-control" id="inputDetails" name="inputDetails">
    </div>
    <h4 class="registration-forms-subtitle">MECHANICAL PROPERTIES - if applicable</h4>
    <div class="col-md-2">
      <label for="inputMinYieldMPa" class="form-label">Minimum Yield - MPa</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputMinYieldMPa" name="inputMinYieldMPa">
    </div>
    <div class="col-md-2">
      <label for="inputMinYieldPSI" class="form-label">Minimum Yield - PSI</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputMinYieldPSI" name="inputMinYieldPSI">
    </div>
    <div class="col-md-2">
      <label for="inputMinUtsMPa" class="form-label">Minimum UTS - MPa</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputMinUtsMPa" name="inputMinUtsMPa">
    </div>
    <div class="col-md-2">
      <label for="inputMinUTSPSI" class="form-label">Minimum UTS - PSI</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputMinUTSPSI" name="inputMinUTSPSI">
    </div>
    <div class="col-md-2">
      <label for="inputYoungsModulus" class="form-label">Young's Modulus - GPa</label>
      <input type="number" min="0.00" step="0.01" class="form-control" id="inputYoungsModulus" name="inputYoungsModulus">
    </div>
    <h4 class="registration-forms-subtitle">RESOURCES - if applicable</h4>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputSourceFile" name="inputSourceFile">
      <label class="input-group-text" for="inputSourceFile">Upload</label>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="margin-top: 2em;">Register</button>
    </div>
  </form>
{% endblock %}}


