.dropdown-menu li {
  position: relative;
  }
  
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.registration-forms-title {
  margin-bottom: 1em;
}

.registration-forms-subtitle {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.input-off {
  /* background-color: lightgrey; */
  /* border: none; */
  pointer-events: none;
}

.css-input {
  width: 30%;
  margin: auto;
  text-align: center;
}

.css-input-price {
  width: 30%;
  margin: auto;
  text-align: center;
  border: none;
  outline: none;
  background: none;
}

.disable-link {
  pointer-events: none;
}

.clear-btn {
  background-color: rgb(255, 0, 0);
  color:whitesmoke;
  /* font-weight: bold; */
}

.save-btn {
  background-color: rgb(0, 100, 0);
  color:whitesmoke; 
}

.cpointer {
  cursor: pointer;
}

input, select {
  text-align: center;
}